<div class="filter">
  <b>Price</b>
  <div class="slider-wrapper">
  
  $10  <input id="price-slider"
             type="text"
             class="span2"
             value=""
             data-slider-min="10"
             data-slider-max="2000"
             data-slider-step="1"
             data-slider-value="[90,300]"/>  $2000
  </div>
  
  <hr>
  
  <div id='amenities-wrapper'>
    <div id='amenity-title'>
      <b>Scientific Amenities</b>
    </div>
          
    <div class='amenity'>
      <input type='checkbox' id='bunsen-burner'>
      <label for='bunsen-burner'>Bunsen Burner</label>
    </div>
    
    <div class='amenity'>
      <input type='checkbox' id='ultracentrifuge'>
      <label for='ultracentrifuge'>Ultracentrifuge</label>
    </div>
    
    <div class='amenity'>
      <input type='checkbox' id='mass-spectrometer'>
      <label for='mass-spectrometer'>Mass Spectrometer</label>
    </div>
  </div>
  
  <hr>
  
  <div class='details-wrapper'>
  <div class='listing-detail'>
    <label for='num-guests'>Number of Guests</label>
    <select id='num-guests'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  
  <div class='listing-detail'>
    <label for='num-guests'>Evil Scientist?</label>
    <select id='num-guests'>
      <option value="No">No</option>
      <option value="Yes">Yes</option>
    </select>
  </div> 
  <div class='details-wrapper'> 

</div>