<div class="filter">
  <b>Price</b>
  <div class="slider-wrapper">
  
  $10  <input id="price-slider"
             type="text"
             class="span2"
             value=""
             data-slider-min="10"
             data-slider-max="2000"
             data-slider-step="1"
             data-slider-value="[90,300]"/>  $2000
  </div>
</div>