<div class='row'>
  <div class='col-xs-4 col-xs-offset-4'>
    <form role="form">
       <h3>Create a Listing</h3>
      <div class='form-group'>

        <label for='title'>Title</label>
        <input type='text'
               id='title'
               class='form-control'
               placeholder="Einstein's Attic"
               name='listing[title]'>
               
        <!-- price, num-bedrooms - cool tool plus text entry -->
        <!-- checkboxes for accessories:
           has ultracentrifuge, has baking soda/vinegar volcano
           has mass spectrometer, has  -->
        <!-- blackout dates -->
        
        <button class='form-control btn btn-primary'>Create Listing</button>
      
      <div>
    </form>
  <div>
</div>