<div class='jumbotron listing' 
     style="background-image: url(<%=listing.escape("image_url")%>)">
</div>

<div class='container'>
  <div class='row'>
  
    <div class="listing col-xs-1 col-xs-offset-1">
      Host UserName
    </div>
  
    <div class="listing col-xs-4">
      <div id="listing-show-title">
         <%= listing.escape("title")%>
      </div>
      
      <h4>Price: $<%= listing.escape("price")%></h4>
      <div>
      </div>
    </div>